/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-rekai-recommendations {
  gap: 2rem;
  padding: 1rem;
  align-items: center;

  img {
    max-width: 100%;
    height: 36px;
  }

  p {
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  .items {
    &.pills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .item {
        border-radius: 1rem;
        background: gray;
        padding: 1rem;
        width: 156px;
        &:nth-child(5n + 1) {
          width: 178px;
        }
        &:nth-child(5n + 2) {
          width: 142px;
        }
        &:nth-child(5n + 3) {
          width: 161px;
        }
        &:nth-child(5n + 4) {
          width: 89px;
        }
      }
    }
    &.list {
      display: grid;
      grid-template-columns: 1fr;
      &.cols2 {
        grid-template-columns: 1fr 1fr;
      }
      &.cols3 {
        grid-template-columns: 1fr 1fr 1fr;
      }
      .item {
        border-radius: 1rem;
        background: gray;
        padding: 1rem;
      }
    }
  }

  .item {
    margin: 0.5rem;
  }
}
